h1 {
  text-align: center;
  font-size: 40px;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* GAME ---------------------------------------------*/

.game-container {
  width: 458px;
  height: 458px;
  background-color: #EBEBEB;
  -ms-grid-column-align: center;
      justify-self: center;
  border: 2px solid #999999;
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 1;
}

#screen-view {
  display: -ms-grid;
  display: grid;
}

.block {
  width: 50px;
  height: 50px;
  background-color: white;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 23px;
}

.border-last-cloumn {
  border-bottom: 1px solid #EBEBEB;
}

.border-last-block {
  border-right: 1px solid #EBEBEB;
}

.border-every-else-block {
  border-right: 1px solid #EBEBEB;
  border-bottom: 1px solid #EBEBEB;
}

.border-right-block-dark {
  border-right: 1px solid #999999;
}

.border-bottom-block-black {
  border-bottom: 1px solid #999999;
}

.generated-numbers {
  background-color: #F5F5F5;
  color: #666666;
}

.selected-field {
  background-color: #D9EEFA;
}

.selected-number-right {
  color: #1197DD;
}

.selected-number-wrong {
  color: white;
  background-color: #FF8C8C;
}

.selected-button-wrong-side-blocks {
  color: #E2565C;
  background-color: #FACFCF;
}

.selected-generated-number-field {
  background-color: #D0E6F1;
}

.hinted-number {
  background-color: #FFFF8D;
  color: #666666;
}

.notes-container {
  width: 50px;
  height: 50px;
  font-size: 7px;
  position: absolute;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.notes-container > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.notes-container > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.notes-container > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.notes-container > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.notes-container > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.notes-container > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}

.notes-container > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.notes-container > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}

.notes-container > *:nth-child(9) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.number {
  width: 50px;
  height: 50px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

/* ALERTERS ----------------------------------------------------------*/
/* ALERT TIME --------------------------------------------------------*/

#alert-time {
  display: none;
  position: absolute;
  z-index: 2;
  width: 460px;
  height: 460px;
  background-color: white;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-top: -26px;
  border: 1px solid #CCCCCC;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.bg-animation {
  -webkit-animation-name: transition-bg;
          animation-name: transition-bg;
  -webkit-animation-duration: 100ms;
          animation-duration: 100ms;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

@-webkit-keyframes transition-bg {
  0% {
    background-color: transparent;
  }

  100% {
    background-color: white;
  }
}

@keyframes transition-bg {
  0% {
    background-color: transparent;
  }

  100% {
    background-color: white;
  }
}

#alert-time>div {
  display: -ms-grid;
  display: grid;
}

#countinue-button {
  height: 40px;
  font-size: 15px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: none;
  background-color: #ECECEC;
  cursor: pointer;
}

/* ALERT GAME CHANGES ------------------------------------------------*/

#alert-game-changes {
  display: none;
  position: absolute;
  z-index: 3;
  width: 460px;
  height: 460px;
  background-color: rgba(0, 0, 0, .7);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-top: -26px;
  border: 1px solid #CCCCCC;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

#alert-game-changes>div {
  width: 270px;
  height: 140px;
  background-color: white;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#alert-game-changes>div>div {
  display: -ms-grid;
  display: grid;
  background-color: white;

}

#alert-game-changes>div>div>div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#alert-game-changes>div>div>div>button {
  border: none;
  width: 100px;
  height: 40px;
}

#alert-note-game-changes {
  margin-top: 4px;
  margin-bottom: 25px;
  text-align: center;
}

#new-game-button {
  background-color: #de5b5f;
  color: white;
}

/* ALERTER GAME WON --------------------------------------------------*/

#alert-game-won {
  position: absolute;
  z-index: 3;
  width: 460px;
  height: 460px;
  background-color: rgba(0, 0, 0, .7);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-top: -26px;
  border: 1px solid #CCCCCC;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  display: none;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation-name: game-won-animation;
          animation-name: game-won-animation;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 1500ms;
          animation-duration: 1500ms;
}

@-webkit-keyframes game-won-animation {
  0% {
    display: none;
    background-color: transparent;
  }

  100% {
    display: grid;
    background-color: rgba(0, 0, 0, .7);
  }
}

@keyframes game-won-animation {
  0% {
    display: none;
    background-color: transparent;
  }

  100% {
    display: -ms-grid;
    display: grid;
    background-color: rgba(0, 0, 0, .7);
  }
}

#alert-game-won>div {
  width: 200px;
  height: 125px;
  background-color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#alert-game-won>div>button {
  width: 200px;
  height: 50px;
  border: none;
  background-color: #ECECEC;
}

#alert-game-won>div>p {
  text-align: center;
  margin: 3px;
}

#game-won-text {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

#time-spent {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

/* COMMANDS  UP ------------------------------------------------------*/

.up-commands {
  width: 455px;
  height: 35px;
  margin-top: 50px;
  color: #666666;
  -ms-grid-column-align: center;
      justify-self: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto 1fr;
  grid-template-columns: 1fr auto 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#time {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
  grid-template-columns: 50% 50%;
  -ms-grid-column-align: start;
      justify-self: start;
  color: #1197DD;
  cursor: pointer;
}

#pouse-button>i {
  font-size: 25px;
}

#time-display {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  font-size: 18px;
}

#difficulty-buttons>button {
  border: none;
  color: #999999;
  background-color: white;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}

#difficulty-buttons>button:hover {
  color: #666666;
}

#game-changing-commands {
  -ms-grid-column-align: end;
      justify-self: end;
  cursor: pointer;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

#game-changing-commands>div:hover {
  color: black;
}

#restart-button>i {
  font-size: 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#restart-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#next-game-button {
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 11px;
  border-left: 1px solid #E0E0E0;
  height: 35px;
}

/* COMMANDS  DOWN ----------------------------------------------------*/
/* COMMANDS---------------------------------------------------------- */

#down-commands {
  width: 462px;
  height: 60px;
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 10px;
  margin-top: 1px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#down-commands>div {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  height: 38px;
  cursor: pointer;
  color: #666666;
}

#down-commands>div:hover {
  color: black;
}

.command-down-icons {
  font-size: 23px;
  width: auto;
  height: 24px;
  -ms-grid-column-align: center;
      justify-self: center;
}

.command-discription {
  margin: 0;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

#eraser>i,
#notes>i {
  width: 24px;
}

#number-of-hints-left {
  position: absolute;
  -ms-grid-row-align: start;
      align-self: start;
  -ms-grid-column-align: end;
      justify-self: end;
  width: 13px;
  height: 13px;
  border-radius: 3px;
  color: white;
  background-color: rgba(255, 0, 0, .9);
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#off-light {
  position: absolute;
  display: none;
}

#on-light {
  display: block;
}

/* NUMBERS -----------------------------------------------------------*/

#number-selector {
  width: 462px;
  height: 50px;
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.number-selector-button {
  width: 40px;
  height: 40px;
  background-color: rgba(240, 240, 240, .2);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: 1px solid #999999;
  border-radius: 10px;
  font-size: 20px;
  cursor: not-allowed;
}

.number-selector-button:hover {
  color: #1197DD;
  border-color: #1197DD;
}